/*@import "site-plan-rafting.css";*/

#contect{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav a{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.botton-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #cce3de;
}
body{
    background-color: #f6fff8;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}
header{
    background-color: #f6fff8;
}
nav a:hover{
    background-color: #a4c3b2;
    color: #34483f;
    text-decoration: none;
}
nav a{
    background-color:  #a4c3b2;
    color: #f6fff8;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav{
    background-color: #a4c3b2;
    text-align: left;
    height: auto;
    padding: 35px;
}
footer{
    width: 100%;
    background-color:  #a4c3b2;
}
footer a{
    color: #f6fff8;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}  
p{
    color: #34483f;
}
a {
    color: #34483f;
    text-decoration: none;
}
.button-box{
    text-align: center;
}
.icon{
    width: 80px;
}
.logo{
    width: 80px;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }
h2 {
    margin: 0;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

